<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listar usuários</title>
  </head> 
  <body>
    <a href="{% url 'users:create_user' %}">Criar usuário</a>
    <h1>Listar usuários</h1>
    <!-- Lista de usuários -->
    {% if users %}
    <ul>
      {% for user in users %}
          <li>
            Nome: {{ user.name }} <br>
            Telefone: {{ user.phone }} <br>
            E-mail: {{ user.email }} <br>
          </li>
          <hr>
      {% endfor %}
    </ul>
    {% else %}
    <p>...</p>
    {% endif %}
  </body>
</html>
